.jqueryDimmerButtonBlock {
	position:relative;
	overflow:hidden;
	background-size:cover;
}
.dimmerBlockDefault {
	background: url("../img/fonOf.png");
}
.dimmerBlockActive {
	background: url("../img/fonOn.png");
}
.jqueryDimmerButtonBlock input {
	position:absolute;
	display:none;
}
.jqueryDimmerButtonBlock img {
	position:absolute;
	opacity: 0;
  	filter: alpha(opacity=0);
  	-moz-opacity: 0;
}
.jqueryDimmerButtonBlock .buttonCenter{
	position:absolute;
	background-size:cover;
}
.jqueryDimmerButtonBlock .defaultCenter{
	background: url("../img/buttonDefault.png");
}
.jqueryDimmerButtonBlock .activeCenter{
	background: url("../img/buttonActive.png");
}
.jqueryDimmerButtonBlock .hoverCenter {
	background: url("../img/buttonHover.png");
}

.no{
	display:none;
}
.jqueryDimmerButtonBlock .buttonDimmer {
	position:absolute;
	background-size:cover;
}
.jqueryDimmerButtonBlock .defaultDimmer {
	background: url("../img/dimmerOn.png");
}
.jqueryDimmerButtonBlock .activeDimmer {
	background: url("../img/dimmerOn.png");
}
/*
.jqueryDimmerButtonDimmer {
	position:absolute;
}
.jqueryDimmerButtonBlock .defaultDimmer {
	background: url("../img/trimmer.png");
}
.jqueryDimmerButtonBlock .activeDimmer {
	background: url("../img/trimmerActive.png");
}
.jqueryTrimmerButtonCenter {
	position:absolute;
}
.jqueryDimmerButtonCenter img {
	opacity: 0;
  	filter: alpha(opacity=0);
  	-moz-opacity: 0;
}
.jqueryDimmerButtonBlock .defaultCenter {
	background: url("../img/center.png");
}
.jqueryDimmerButtonBlock .activeCenter {
	background: url("../img/centerActive.png");
}
.jqueryDimmerButtonBlock img {
	position:absolute;
}